.productCardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 80px;
  grid-column-gap: 60px;
}

.productListPage_contentContainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.productListPage_filter {
  width: 340px;
  height: 1427px;
  background-color: white;
}

.productListPage_productCard {
  // It will be changed when we have any content for this page.
  //margin-left: 92px;
  //margin-top: 108px;
  //width: 910px;
  //height: 1427px;
}
